/* inner */
.inner {
    margin: 0 0 40px;
    &__title {
      padding: 10px;
      background: $bg-color_g;
      border-left: 2px solid $base-color;
      font-size: 1.5em;
      line-height: 1.2;
      }
     &__text {
      &-em {
        font-weight: bold;
        background: $bg-color_g;
        padding: 5px;
        color: $base-color;
      }
      &-bikou {
      font-size: 0.8em;
      &:before {
          content: "※";
        }
      }
      &-flex {
        @include flexbox($justify: center);
      }
      &-btn {
        background: $base-color;
        color: $text-color_w;
        padding: 10px;
        border: none;
        border-radius: 5px;
        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
        &:focus {
          outline: none;
        }
      }  
    }
  }