<%- include('../base/_head', {seo: data.second.seo}); %>
<%- include('../block/_header', {seo: data.second.seo}); %>
<main class="l-main">
    <div class="second_hero">
        <div class="second_hero__inner">
            <h2 class="_t-center">水道職人のこだわり</h2>
        </div>
    </div>
    <section>
        <div class="container">
            <h3></h3>
            <img src="../../img/commintment/gallery.png" width="1143" height="255" alt="">
            <p>
                身のまわりで発生する水道管からの漏水、トイレ・お風呂・洗面所でのつまりや蛇口からの水漏れといったトラブルは、日常生活と密接に結びついているからこそ、起こると大変な不便を強いられる事になります。そんな時に頼りになる水道職人のプロとして、私たちは以下の3つのこだわりとお約束で、皆様の水まわりのトラブルに対応いたします。</p>
        </div>
    </section>
    <section>
        <div class="container">
            <% const sec1s = [
                {
                    thumbnail: "../img/top_sec01_thumb1.jpg",
                    numberImg: "../img/bubble_01.png",
                    heading: "../img/heading01",
                    btnText: "サービスの一覧はこちら",
                    btnLink: "/",
                    content: "身のまわりで起きる水トラブルは実に様々です。各現場それぞれにトラブルの内容やご使用されている水栓機器も異なります。おおさか水道職人のサービススタッフは、全員が厳しい研修をクリアした自社スタッフのため、水まわりに関する豊富な知識や経験を持ち、蛇口からの水漏れやトイレつまりの他、給水管・給湯管工事一式、給湯器や井戸ポンプの交換など、水まわりに関する工事なら幅広くご対応させていただきます。"
                },
                {
                    thumbnail: "../img/top_sec01_thumb2.jpg",
                    numberImg: "../img/bubble_02.png",
                    heading: "../img/heading03",
                    btnText: "ご利用の流れはこちら",
                    btnLink: "/",
                    content: "水のトラブルはいつも決まった場所で起きるわけではありません。対応方法はトラブルやご要望の内容によって何通りも存在します。だからこそ、状況に応じた臨機応変な対応や正確な原因特定を大切にし、お客様のホームドクター（かかりつけ医）として、診断から修理まで責任を持って行わせていただきます。<br>トラブル箇所以外にも気になる事がございましたら、その場で無料点検も行っております。"
                },
                {
                    thumbnail: "../img/top_sec01_thumb3.jpg",
                    numberImg: "../img/bubble_03.png",
                    heading: "../img/heading02",
                    btnText: "お客様の声・施工日記",
                    btnLink: "/",
                    content: "水道職人では修理や交換などトラブルの解消だけに留まらず、お客様にとってより快適でライフスタイルにも合った、今後の生活を一番に考えたご提案をさせて頂きます。現在水まわりでお使いの蛇口やトイレなどの水栓機器も、種類や場所を替えるだけで便利で快適な生活を送ることが可能です。ご使用状況や、ご不満に思われている点などをしっかりとヒアリングさせていただき、未来につながるご提案を大切にしております。"
                }
            ]; %>
            <% sec1s.forEach(sec1 => { %>

            <% }); %>
        </div>
    </section>
    <section>
        <div class="container">
            <h3 class="section-heading">皆様へのお約束</h3>
            <% const diaries = [
                {
                    headDeco: "お約束01",
                    heading: "お見積りは無料",
                    content: "いつもおおさか水道職人の修理報告をご覧いただきありがとうございます。[依頼場所] 大阪府〇〇..."
                },
                {
                    headDeco: "お約束02",
                    heading: "365日24時間電話受付",
                    content: "いつもおおさか水道職人の修理報告をご覧いただきありがとうございます。[依頼場所] 大阪府〇〇..."
                },
                {
                    headDeco: "お約束03",
                    heading: "大阪府〇〇〇〇〇〇〇へトイレつまり除去で伺いました。",
                    content: "いつもおおさか水道職人の修理報告をご覧いただきありがとうございます。[依頼場所] 大阪府〇〇..."
                },
                {
                    headDeco: "お約束04",
                    heading: "大阪府〇〇〇〇〇〇〇へトイレつまり除去で伺いました。",
                    content: "いつもおおさか水道職人の修理報告をご覧いただきありがとうございます。[依頼場所] 大阪府〇〇..."
                },
                {
                    headDeco: "お約束05",
                    heading: "大阪府〇〇〇〇〇〇〇へトイレつまり除去で伺いました。",
                    content: "いつもおおさか水道職人の修理報告をご覧いただきありがとうございます。[依頼場所] 大阪府〇〇..."
                },
                {
                    headDeco: "お約束06",
                    heading: "大阪府〇〇〇〇〇〇〇へトイレつまり除去で伺いました。",
                    content: "いつもおおさか水道職人の修理報告をご覧いただきありがとうございます。[依頼場所] 大阪府〇〇..."
                },
                {
                    headDeco: "お約束07",
                    heading: "大阪府〇〇〇〇〇〇〇へトイレつまり除去で伺いました。",
                    content: "いつもおおさか水道職人の修理報告をご覧いただきありがとうございます。[依頼場所] 大阪府〇〇..."
                },
                {
                    headDeco: "お約束08",
                    heading: "大阪府〇〇〇〇〇〇〇へトイレつまり除去で伺いました。",
                    content: "いつもおおさか水道職人の修理報告をご覧いただきありがとうございます。[依頼場所] 大阪府〇〇..."
                }
            ]; %>
            <div class="">
                <div class="">
                    <div class="">
                        <img src="../../img/commintment/head_deco.png" width="126" height="64" alt="">
                        <span></span>
                    </div>
                    <h4></h4>
                </div>
                <div class="">
                    <p></p>
                </div>
            </div>
        </div>
    </section>
<%- include('../block/_footer', {seo: data.second.seo}); %>