._dis-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

._lh-1 {
  line-height: 1;
}

._ls-0 {
  letter-spacing: 0;
}

._ls-200 {
  letter-spacing: ls(200);
}

._w-full {
  width: 100%;
}

._w-auto {
  width: auto;
}

._fwb {
  font-weight: bold;
}

.relative {
  position: relative;
}