@charset "UTF-8";
/***** base *****/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #333;
}

body *, body *:before, body *:after {
  box-sizing: border-box;
}

body a {
  color: #C30D23;
}

/***** block *****/
/* header */
.header {
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
  padding: 80px 10px;
  background-image: url(../img/header_bg.jpg);
  background-size: cover;
  text-align: center;
}

.header__title {
  margin: 0;
  color: #fff;
  text-shadow: 0 0 20px #000;
}

/* main */
.main {
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}

.main__title {
  color: #333;
  font-size: 2em;
}

.main__lede {
  font-size: 1em;
}

/* inner */
.inner {
  margin: 0 0 40px;
}

.inner__title {
  padding: 10px;
  background: #eee;
  border-left: 2px solid #C30D23;
  font-size: 1.5em;
  line-height: 1.2;
}

.inner__text-em {
  font-weight: bold;
  background: #eee;
  padding: 5px;
  color: #C30D23;
}

.inner__text-bikou {
  font-size: 0.8em;
}

.inner__text-bikou:before {
  content: "※";
}

.inner__text-flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}

.inner__text-btn {
  background: #C30D23;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.inner__text-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.inner__text-btn:focus {
  outline: none;
}

/* footer */
.footer {
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
  padding: 20px 0;
  border-top: 1px solid #ccc;
  text-align: center;
}

.footer__test {
  font-size: 0.8em;
}
