<section class="_mt-160 _mt-md-0">
    <div class="relative">
        <h2 class="banner__head _lh-1 _w-full _t-center _d-none _d-md-block"><span
                    class="_fz-60 _c-yellow">お急ぎの方</span>は<span
                    class="_fz-60">お電話</span>ください！</h2>
        <img class="banner__bg _d-none _d-md-block" src="../../img/bg_02.jpg" width="1500" height="434"
                alt="">
        <div class="container relative">
            <div class="women _d-none _d-md-block">
                <img src="../../img/women.png" width="241" height="304" alt="">
            </div>
            <div class="banner">
                <!--                    <a href="tel:0120492315">-->
                <picture>
                    <source srcset="../../img/banner_bottom_sp.jpg"
                            media="(max-width: 767px)">
                    <img src="../../img/hero_banner.png" width="944" height="300"
                            alt="WEBをご覧になった方限定！「ウェブを見た」とお問い合わせで3000円OFF いますぐお電話 0120-492-315">
                </picture>
                <!--                    </a>-->
            </div>
        </div>
    </div>
    <div class="swiper-container slider01">
        <div class="swiper-wrapper -top loop">
            <div class="swiper-slide"><img src="../../img/slide1.jpg" width="260" height="173" alt="台所"></div>
            <div class="swiper-slide"><img src="../../img/slide2.jpg" width="260" height="173" alt="トイレ"></div>
            <div class="swiper-slide"><img src="../../img/slide3.jpg" width="260" height="173" alt="お風呂"></div>
            <div class="swiper-slide"><img src="../../img/slide4.jpg" width="260" height="173" alt="キッチン"></div>
            <div class="swiper-slide"><img src="../../img/slide5.jpg" width="260" height="173" alt="洗面所"></div>
        </div>
    </div>
    <!--        <img src="../img/gallery.jpg" height="173" width="1500" alt="">-->
    <div class="container">
        <p class="_fz-14 _lh-2 _ls-150 _mt-32 _mb-48">
            おおさか水道職人は大阪市に拠点を持ち、蛇口からの水漏れやトイレのつまりなど、水まわりで起こるあらゆるトラブルに年中無休で対応可能な水道修理のプロ集団です。おおさか水道職人は大阪市・堺市・能勢町・豊能町・池田市・箕面市・豊中市・茨木市・高槻市・島本町・吹田市・摂津市・枚方市・交野市・寝屋川市・守口市・門真市・四條畷市・大東市・東大阪市・八尾市・柏原市・和泉市・高石市・泉大津市・忠岡町・岸和田市・貝塚市・熊取町・泉佐野市・田尻町・泉南市・阪南市岬町・松原市・羽曳野市・藤井寺市・太子町・河南町・千早赤阪村・富田林市・大阪狭山市・河内長野市など大阪府内全エリアで起きた水道トラブルに対して２４時間体制で電話やメールにて受け付けを行っており、急なトラブルでも３６５日駆けつけ対応が可能です。気になる作業料金ですが、水道職人では実際に作業スタッフが現場を確認し、無料でお見積りをご提示させていただきます。お見積り内容にご納得いただいた場合にのみ作業を行わせていただきますので、安心してご依頼くださいお支払方法は、作業完了後の現金支払い以外にも各種クレジットカードや銀行振り込み、コンビニ決済と急なトラブルで手持ちがない時でもご安心いただけるようご用意しております。作業は地元大阪に常駐する自社スタッフが、現場の確認から修理作業の完了報告まで迅速・丁寧にご対応いたします。身のまわりで発生した水道管からの漏水、トイレ・お風呂・洗面所でのつまりや蛇口からの水漏れ、給湯器のトラブル全般でお困りの場合にはおおさか水道職人にお任せください。</p>
        <p class="_fz-14 _c-gray _mb-16"><img class="_w-auto _d-inline-block _mr-8" src="../img/icon_house.png"
                    width="13" height="10" alt="">大阪の水漏れ修理&nbsp;&nbsp;おおさか水道職人
        </p>
    </div>
</section>
</main>
<footer class="l-footer">
    <div class="container">
        <div class="l-footer__inner">
            <div class="l-footer__top">
                <div class="l-header__logo">
                    <h1><a href="/"><img class="img" src="../../img/logo.png" width="268" height="62" decoding="async"
                                    alt="水のサポート おおさか水道職人"></a></h1>
                </div>
                <div class="l-footer__tel">
                    <!--                    <a href="tel:0120492315">-->
                    <img class="_w-auto _w-md-full" src="../../img/tel.png" width="318" height="50"
                            decoding="async"
                            alt="おおさか水道職人へ繋がる電話番号">
                    <!--                    </a>-->
                    <p class="_fz-12 _fwb _pl-md-32 _t-center _t-md-left _mt-8 _mt-md-0">年中無休・24時間受付・お見積り無料</p>
                </div>
                <address class="_t-center _t-md-left _mt-8 _mt-md-0">〒000-0000<br>大阪府〇〇〇〇〇〇〇〇〇〇〇〇</address>
            </div>
        </div>
        <div class="l-footer__body">
            <div class="fnav _d-none _d-md-flex">
                <div class="fnav__inner">
                    <ul class="fnav__list">
                        <li class="_fz-14"><a href="" class="_d-flex items-center"><span class="chevron _mr-8"></span>サービス内容と料金</a>
                            <ul class="_d-flex flex-wrap _pl-16">
                                <li class="fnav__item"><a href="">- トイレの水漏れ・つまり</a></li>
                                <li class="fnav__item"><a href="">- 給湯器ポンプのトラブル</a></li>
                                <li class="fnav__item"><a href="">- キッチンの水漏れ・つまり</a></li>
                                <li class="fnav__item"><a href="">- 排水口・排水管のつまり・水漏れ</a></li>
                                <li class="fnav__item"><a href="">- お風呂の水漏れ・つまり</a></li>
                                <li class="fnav__item"><a href="">- 屋外・水栓柱の水漏れ・つまり</a></li>
                                <li class="fnav__item"><a href="">- 洗面所の水漏れ・つまり</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="fnav__inner _w-half _pl-64">
                    <ul class="_fz-14 relative">
                        <li class="_d-inline-block _w-tweek _mt-8"><a href="" class="_d-flex items-center"><span
                                        class="chevron _mr-8"></span>大阪の水漏れ修理&nbsp;おおさか水道職人</a>
                        </li>
                        <li class="_d-inline-block _w-tweek _mt-8"><a href="" class="_d-flex items-center"><span
                                        class="chevron _mr-8"></span>水のコラム</a></li>
                        <li class="_d-inline-block _w-tweek _mt-8"><a href="" class="_d-flex items-center"><span
                                        class="chevron _mr-8"></span>水道職人のこだわり</a>
                        </li>
                        <li class="_d-inline-block _w-tweek _mt-8"><a href="" class="_d-flex items-center"><span
                                        class="chevron _mr-8"></span>会社案内</a></li>
                        <li><a href="" class="_d-flex items-center _mt-8"><span class="chevron _mr-8"></span>対応エリア</a>
                        </li>
                        <li><a href="" class="_d-flex items-center _mt-8"><span class="chevron _mr-8"></span>お客様の声・施工日記</a>
                        </li>
                        <div class="red-button-box">
                            <a href="" class="red-button">お急ぎの方はこちら</a>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="fnav-sp _d-md-none">
                <ul class="fnav-sp__list">
                    <li class="fnav-sp__item"><a href="" class="fnav-sp__link"><span class="chevron _mr-8"></span>大阪の水漏れ修理&nbsp;おおさか水道職人</a>
                    </li>
                    <li class="fnav-sp__item"><a href="" class="fnav-sp__link"><span class="chevron _mr-8"></span>水道職人のこだわり</a>
                    </li>
                    <li class="fnav-sp__item">
                        <button id="footerAccordionButton" class="fnav-sp__link -accordion" aria-expanded="false"><span
                                    class="chevron _mr-8"></span>サービス内容と料金<span id="plusButton"
                                    class="plus-button">＋</span></button>
                        <ul id="fnav-sp" class="fnav-sp__acc _pl-16 _mt-16 _fz-14">
                            <li class="fnav-sp__acc-item"><a class="fnav-sp__acc-link" href="">- トイレの水漏れ・つまり</a></li>
                            <li class="fnav-sp__acc-item"><a class="fnav-sp__acc-link" href="">- キッチンの水漏れ・つまり</a></li>
                            <li class="fnav-sp__acc-item"><a class="fnav-sp__acc-link" href="">- お風呂の水漏れ・つまり</a></li>
                            <li class="fnav-sp__acc-item"><a class="fnav-sp__acc-link" href="">- 洗面所の水漏れ・つまり</a></li>
                            <li class="fnav-sp__acc-item"><a class="fnav-sp__acc-link" href="">- 給湯器の水漏れ・つまり</a></li>
                            <li class="fnav-sp__acc-item"><a class="fnav-sp__acc-link" href="">- 排水口・排水管の水漏れ・つまり</a>
                            </li>
                            <li class="fnav-sp__acc-item"><a class="fnav-sp__acc-link" href="">- 屋外・水栓柱の水漏れ・つまり</a></li>
                        </ul>
                    </li>
                    <li class="fnav-sp__item"><a href="" class="fnav-sp__link"><span class="chevron _mr-8"></span>対応エリア</a>
                    </li>
                    <li class="fnav-sp__item"><a href="" class="fnav-sp__link"><span class="chevron _mr-8"></span>お客様の声・施工日記</a>
                    </li>
                    <li class="fnav-sp__item"><a href="" class="fnav-sp__link"><span class="chevron _mr-8"></span>水のコラム</a>
                    </li>
                    <li class="fnav-sp__item"><a href="" class="fnav-sp__link"><span
                                    class="chevron _mr-8"></span>会社案内</a></li>
                </ul>
                <a href="" class="red-button _pt-24 _pb-24 _t-center _mt-16 _mb-32">お急ぎの方はこちらをご確認ください</a>
            </div>
            <div class="office">
                <h3 class="office__title">営業所一覧</h3>
                <dl class="office__wrap">
                    <% const offices = [
                        {
                            head: "〇〇営業所",
                            address: "大阪府〇〇〇〇〇〇〇〇〇〇〇〇"
                        },
                        {
                            head: "〇〇〇〇営業所",
                            address: "大阪府〇〇〇〇〇〇〇〇〇〇〇〇"
                        },
                        {
                            head: "〇〇営業所",
                            address: "大阪府〇〇〇〇〇〇〇〇〇〇〇〇"
                        },
                        {
                            head: "〇〇〇〇営業所",
                            address: "大阪府〇〇〇〇〇〇〇〇〇〇〇〇"
                        },
                        {
                            head: "〇〇営業所",
                            address: "大阪府〇〇〇〇〇〇〇〇〇〇〇〇"
                        },
                        {
                            head: "〇〇営業所",
                            address: "大阪府〇〇〇〇〇〇〇〇〇〇〇〇"
                        },
                        {
                            head: "〇〇〇〇営業所",
                            address: "大阪府〇〇〇〇〇〇〇〇〇〇〇〇"
                        },
                        {
                            head: "〇〇営業所",
                            address: "大阪府〇〇〇〇〇〇〇〇〇〇〇〇"
                        }
                    ] %>
                    <% offices.forEach(office => { %>
                    <div class="office__box">
                        <dt class="office__head"><%- office.head %></dt>
                        <dd class="office__body"><%- office.address %></dd>
                    </div>
                    <% }); %>
                </dl>
            </div>
        </div>
    </div>
    <div class="_pt-16 _pb-16 _bg-main _mt-40">
        <p class="l-footer__copy _c-white _fz-12 _t-center"><small>Copyright ©おおさか水道職人. All Rights Reserved. </small>
        </p>
    </div>
</footer>
<div class="tel-banner sticky">
    <!--    <a href="tel:0120492315">-->
    <img src="../../img/toiawase.png" width="828" height="112" alt="いますぐお電話 0120-492-315 年中無休 ２４時間受付 お見積り無料">
    <!--    </a>-->
</div>
<script src="js/app.js"></script>
</body>
</html>