<nav class="gnav">
    <ul class="gnav__list">
        <li class="gnav__item"><a class="gnav__link" href="/">トップ</a></li>
        <li class="gnav__item"><a class="gnav__link" href="/">水道職人のこだわり</a></li>
        <li class="gnav__item"><a class="gnav__link" href="/">サービス内容と料金</a></li>
        <li class="gnav__item"><a class="gnav__link" href="/">対応エリア</a></li>
        <li class="gnav__item"><a class="gnav__link" href="/">お客様の声・施工日記</a></li>
        <li class="gnav__item"><a class="gnav__link" href="/">会社案内</a></li>
        <li class="gnav__item"><a class="gnav__link" href="/"><span class="nav-bubble">急なトラブルにも対応！</span>お急ぎの方はこちら<span class="chevron -nav _ml-8"></span></a></li>
    </ul>
</nav>