<nav class="gnav">
    <ul class="gnav__list">
        <li class="gnav__item"><a class="gnav__link" href="/">トップ</a></li>
        <li class="gnav__item"><a class="gnav__link" href="/">水道職人のこだわり</a></li>
        <li class="gnav__item -popup"><a class="gnav__link" href="/">サービス内容と料金</a>
            <ul class="popup-list">
                <li class="popup-list__item"><a class="popup-list__link" href="">トイレの水漏れ・つまり</a></li>
                <li class="popup-list__item"><a class="popup-list__link" href="">キッチンの水漏れ・つまり</a></li>
                <li class="popup-list__item"><a class="popup-list__link" href="">お風呂の水漏れ・つまり</a></li>
                <li class="popup-list__item"><a class="popup-list__link" href="">洗面所の水漏れ・つまり</a></li>
                <li class="popup-list__item"><a class="popup-list__link" href="">給湯器の水漏れ・つまり</a></li>
                <li class="popup-list__item"><a class="popup-list__link" href="">排水口・排水管の水漏れ・つまり</a></li>
                <li class="popup-list__item"><a class="popup-list__link -border-none" href="">屋外・水栓柱の水漏れ・つまり</a></li>
            </ul>
        </li>
        <li class="gnav__item"><a class="gnav__link" href="/">対応エリア</a></li>
        <li class="gnav__item"><a class="gnav__link" href="/">お客様の声・施工日記</a></li>
        <li class="gnav__item"><a class="gnav__link" href="/">会社案内</a></li>
        <li class="gnav__item"><a class="gnav__link" href="/"><span class="nav-bubble">急なトラブルにも対応！</span>お急ぎの方はこちら<span
                        class="chevron -nav _ml-8"></span></a></li>
    </ul>
</nav>