<header class="l-header sticky">
    <div class="border-bottom">
        <div class="container -header">
            <div class="l-header__inner relative">
                <div class="l-header__left">
                    <div class="l-header__logo">
                        <h1><a href="/"><img class="img" src="../../img/logo.png" width="268" height="62"
                                        decoding="async"
                                        alt="水のサポート おおさか水道職人"></a></h1>
                    </div>
                    <p class="_pt-16 _d-none _d-md-block"><span
                                class="_fz-12 _ls-200">おおさかのトイレつまり・水漏れ修理なら「おおさか水道職人」</span></p>
                </div>
                <div class="l-header__right">
                    <div class="l-header__tel _mr-8 _mr-md-16">
                        <p class="_fz-12 _fwb _t-right _d-none _d-md-block">年中無休・24時間受付・お見積り無料</p>
                        <div class="l-header__tel-img">
<!--                            <a href="tel:0120492315">-->
                                <picture>
                                    <source srcset="../../img/tel_sp.jpg"
                                            media="(max-width: 767px)">
                                    <img class="" src="../../img/tel.png" width="318" height="50" decoding="async"
                                            alt="おおさか水道職人へ繋がる電話番号">
                                </picture>
<!--                            </a>-->
                        </div>
                    </div>
                    <button id="hamburgerButton" class="hamburger-button" type="button" aria-expanded="false"
                            aria-label="open">
                    <span class="hamburger-button__inner">
				        <span class="hamburger-button__line"></span>
                        <span id="hamburgerButtonText" class="hamburger-button__text">メニュー</span>
			        </span>
                    </button>
                </div>
                <div class="l-header__nav">
                    <%- include('_gnav'); %>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="toggleNav" class="toggle-nav">
    <nav class="_mt-24 _pb-16 -border-bottom-white">
        <ul class="_fz-15">
            <li><a class="_pt-8 _pb-8" href=""><span class="chevron _mr-8"></span>大阪の水漏れ修理&nbsp;おおさか水道職人</a></li>
            <li><a class="_pt-8 _pb-8" href=""><span class="chevron _mr-8"></span>サービス内容と料金</a>
                <ul class="_pl-16">
                    <li><a href="">- トイレの水漏れ・つまり</a></li>
                    <li><a href="">- キッチンの水漏れ・つまり</a></li>
                    <li><a href="">- お風呂の水漏れ・つまり</a></li>
                    <li><a href="">- 洗面所の水漏れ・つまり</a></li>
                    <li><a href="">- 給湯器の水漏れ・つまり</a></li>
                    <li><a href="">- 排水口・排水管の水漏れ・つまり</a></li>
                    <li><a href="">- 屋外・水栓柱の水漏れ・つまり</a></li>
                </ul>
            </li>
            <li><a class="_pt-8 _pb-8" href=""><span class="chevron _mr-8"></span>水道職人のこだわり</a></li>
            <li><a class="_pt-8 _pb-8" href=""><span class="chevron _mr-8"></span>対応エリア</a></li>
            <li><a class="_pt-8 _pb-8" href=""><span class="chevron _mr-8"></span>お客様の声・施工日記</a></li>
            <li><a class="_pt-8 _pb-8" href=""><span class="chevron _mr-8"></span>水のコラム</a></li>
            <li><a class="_pt-8 _pb-8" href=""><span class="chevron _mr-8"></span>会社案内</a></li>
        </ul>
    </nav>
    <a href="" class="red-button _mt-12">お急ぎの方はこちら</a>
</div>
