<section class="l-hero">
    <div class="l-hero__inner">
        <div class="l-hero__img">
            <picture>
                <source srcset="../../img/osaka_mainvisual_sp.png"
                        media="(max-width: 767px)">
                <img src="../../img/osaka_mainvisual.png" width="1500" height="600" alt="地元・大阪密着の水まわり修理専門店">
            </picture>
        </div>
        <div class="l-hero__bg">
            <img src="../../img/hero_bottom_bg.jpg" width="1432" height="324" alt="">
            <div class="l-hero__banner">
<!--                <a href="tel:0120492315">-->
                    <picture>
                        <source srcset="../../img/banner_sp.png"
                                media="(max-width: 767px)">
                        <img src="../../img/hero_banner.png" width="944" height="300" alt="WEBをご覧になった方限定！「ウェブを見た」とお問い合わせで3000円OFF いますぐお電話 0120-492-315">
                    </picture>
<!--                </a>-->
            </div>
        </div>
    </div>
</section>
