<main>
    <section id="scss" class="main">
        <h1 class="main__title"><%- main.title %></h1>
        <p class="main__lede"><%- main.lede %></p>
        <%- include('_inner', {inner: inner}); %>
        <p class="main__text"><a href="other.html" class="main__text-link"><%= main.link %></a></p>
    </section>
</main>