.bubble-yellow {
  position: relative;
  background-color: yellow;
  color: color(main);
  width: 100%;
  max-width: 104px;
  padding: .25rem 0;
  border-radius: 4px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: -7%;
    transform: translateY(-50%);
    @include triangle(right,8px,8px,yellow);
  }

  &__text {
    font-weight: 700;
    text-align: center;
    line-height: 1;

    &-top {
      font-size: rem(10);
    }

    &-bottom {
     letter-spacing: ls(0);
      font-size: rem(14);
    }
  }
}