.bubble {
  background-color: #eee;
  border-radius: 999px;
  text-align: center;
  padding: .25rem;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -6px;
    @include triangle(bottom, 8px, 6px, #eee);
  }
}