.chevron {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-right: 1px solid #333;
  border-top: 1px solid #333;
  transform: rotate(45deg);

  &.-area {
    transform: rotate(135deg);
    border-right: 2px solid #333;
    border-top: 2px solid #333;
  }

  &.-nav {
    width: 8px;
    height: 8px;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    margin-top: -2px;
  }

  &.-more {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    width: 8px;
    height: 8px;
  }
}