.company-group {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #ddd;
  @include breakpoint-down(md) {
    flex-direction: column;
  }

  &:last-child {
    border-bottom: 1px solid #ddd;
  }

  &__head {
    flex-basis: 20%;
    max-width: 20%;
    padding: 24px;
    background-color: #f9f9f9;
    @include breakpoint-down(md) {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  &__body {
    flex-basis: 80%;
    max-width: 80%;
    padding: 24px;
    @include breakpoint-down(md) {
      flex-basis: 100%;
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
}