.diary-card {
  padding: 1rem;
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 6px #ddd;

  &__category {
    padding: .5rem .75rem;
    background-color: color(main);
    color: #fff;
    display: inline-block;
    border-radius: 4px;
    line-height: 1;
    position: absolute;
    top: -2%;
    left: -2%;

    &::before {
      content: "";
      display: block;
      @include triangle(right, 8px, 16px, color(main));
      position: absolute;
      bottom: -8px;
      right: 12px;
      transform: rotate(-45deg);
    }
  }

  &__body {
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
  }
}