.fnav {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;

  &__inner {
    width: 40%;
  }

  &__item {
    width: 50%;
    font-size: rem(14);
    margin-top: .5rem;
  }
}

.fnav-sp {

  &__list {

  }

  &__item {

  }

  &__link {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #333333;
    font-size: rem(14);

    &.-accordion {
      background-color: transparent;
      width: 100%;
      text-align: left;
      position: relative;
    }
  }
}

.fnav-sp__acc {
  display: none;
  &[aria-hidden="false"] {
    display: block;
  }

  &-item {
    margin-top: 8px;
  }
}
