.office {
  padding: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 8px;

  &__title {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px dotted #333;
    border-left: 1px dotted #333;
    font-weight: 700;
    font-size: rem(14);
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding-left: 2.5rem;
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
    font-size: rem(14);
  }

  &__head {
    flex-basis: 30%;
    max-width: 30%;
  }

  &__body {
    flex-basis: 70%;
    max-width: 70%;
  }
}