.section-heading {
  color: color(main);
  font-size: rem(32);
  font-weight: 700;
  padding-left: 1rem;
  border-left: 6px solid color(main);

  &.-area {
    @include breakpoint-down(md) {
      position: relative;
      top: -48px;
    }
    @include breakpoint-down(xs) {
      position: relative;
      top: -100px;
    }
  }
}