<%- include('../base/_head', {seo: data.third.seo}); %>
<%- include('../block/_header', {seo: data.third.seo}); %>
<main class="l-main">
    <div class="second_hero">
        <div class="second_hero__inner">
            <h2 class="second_hero__title">お客様の声・施工日記</h2>
        </div>
    </div>
<%- include('../block/_footer', {seo: data.third.seo}); %>