$colors: (
  black: #221714,
  black2: #231815,
  white: #fff,
  txt:  #595757,
  gray: #EFEFEF,
  red: #D94E41,
  );

// **
// * 色変数を取得する
// * @param {Stirng} $key $colorsのキー
// * @param {?Float} $opacity 不透明度 0 ~ 1.0
// * @return {String} カラーコードまたはrgba
// ************************************************
@function color($key, $opacity: null) {
  @if $opacity !=null {
    @return rgba(map-get($colors, $key), $opacity);
  }

  @return map-get($colors, $key);
}