<%- include('../base/_head', {seo: data.second.seo}); %>
<%- include('../block/_header', {seo: data.second.seo}); %>
<main class="l-main">
    <div class="second_hero">
        <div class="second_hero__inner">
            <h2 class="second_hero__title">対応エリア</h2>
        </div>
    </div>
    <section>
        <div class="container">
            <h2 class="_t-center _fz-40 _fwb _c-main"><span class="-wavy">大阪府全域</span>をサポート！</h2>
            <p>大阪府で、トイレやお風呂場、台所や洗面台など水回りのトラブルでお困りの方は、おおさか水道職人にご連絡ください。24時間体制で受け付け、年中無休で駆け付けます！</p>
        </div>
    </section>
    <section>
        <div class="container">
            <h3 class="section-heading">出張可能エリア・市町村</h3>
        </div>
    </section>
<%- include('../block/_footer', {seo: data.second.seo}); %>