.l-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 150;
  padding-bottom: 3.5rem;
  @include breakpoint-down(lg) {
    padding-bottom: 0;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include breakpoint-down(md) {
      padding-top: .5rem;
      padding-bottom: .5rem;
    }
  }

  &__left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 60%;
    @include breakpoint-down(ml) {
      width: 50%;
    }
    @include breakpoint-down(md) {
      width: 40%;
    }
  }

  &__tel-img {
    //@include breakpoint-down(md) {
    //  width: 90%;
    //  margin: 0 auto;
    //}
  }

  &__right {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    @include breakpoint-down(ml) {
      width: 50%;
    }
    @include breakpoint-down(md) {
      width: 60%;
    }
  }

  &__logo {
    max-width: 268px;
    width: 100%;

    a {
      position: relative;
      @include aspect-ratio(62, 268);
    }
  }

  &__tel {
    max-width: 318px;
    width: 100%;
    @include breakpoint-down(md) {
      width: 70%;
    }
  }

  &__nav {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
}