.l-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: z-index(header);
  padding-bottom: 3.5rem;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
  }

  &__left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 60%;
  }

  &__right {
    width: 40%;
    display: flex;
    justify-content: flex-end;
  }

  &__logo {
    max-width: 268px;
    width: 100%;

    a {
      position: relative;
      @include aspect-ratio(62, 268);
    }
  }

  &__tel {
    max-width: 318px;
    width: 100%;

    a {
      position: relative;
      @include aspect-ratio(50, 318);
    }
  }

  &__nav {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
}