.l-hero {

  &__bg {
    position: relative;
  }

  &__banner {
    position: absolute;
    top: -16%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 944px;
    @include breakpoint-down(md) {
      top: -27%;
    }
  }
}