<%- include('../base/_head', {seo: data.second.seo}); %>
<%- include('../block/_header', {seo: data.second.seo}); %>
<main class="l-main">
    <div class="second_hero">
        <div class="second_hero__inner">
            <h2 class="second_hero__title">お急ぎの方へ</h2>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="_pl-md-80 _pr-md-80">
                <div class="_d-none _d-md-block">
                    <img src="../../img/harry-banner.png" width="1020" height="165" alt="">
                </div>
            </div>
            <div class="_pl-md-96 _pr-md-96">
                <div class="harry-box _mt-40">
                    <h2 class="harry-head">お電話の際は以下の項目をご確認の上お伝えください。</h2>
                    <div class="harry-box__inner">
                        <ol class="harry-box__list">
                            <li class="harry-box__item"><span class="circle-number">1</span><span
                                        class="_d-block _d-md-inline-block _pl-0 _pl-md-8">トラブルの内容（つまり、異物混入、水漏れ、水が止まらない、悪臭、音がおかしい、故障、器具の交換）
                            </span></li>
                            <li class="harry-box__item"><span class="circle-number">2</span><span
                                        class="_d-block _d-md-inline-block _pl-0 _pl-md-8">建物種別（戸建て、集合住宅、オフィス、店舗、施設）</span>
                            </li>
                            <li class="harry-box__item"><span class="circle-number">3</span><span
                                        class="_d-block _d-md-inline-block _pl-0 _pl-md-8">トラブル箇所（トイレ、キッチン、お風呂（浴室）、洗面所、給湯器、洗濯機、排水溝、排水管）</span>
                            </li>
                            <li class="harry-box__item"><span class="circle-number">4</span><span
                                        class="_d-block _d-md-inline-block _pl-0 _pl-md-8">お名前、ご住所</span></li>
                            <li class="harry-box__item"><span class="circle-number">5</span><span
                                        class="_d-block _d-md-inline-block _pl-0 _pl-md-8">お電話番号</span></li>
                            <li class="harry-box__item"><span class="circle-number">6</span><span
                                        class="_d-block _d-md-inline-block _pl-0 _pl-md-8">おおさか水道職人を知ったきっかけ（ホームページ、チラシ、ご紹介など）</span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="_pt-80 _pb-80">
        <div class="container">
            <div class="_pl-md-96 _pr-md-96">
                <h2 class="section-heading">お問い合わせフォーム</h2>
                <p class="_mt-32">下記フォームの<span class="required-label">必須</span>項目をご入力の上、送信ボタンを押してください。</p>
                <form action="">
                    <dl class="_mt-32">
                        <div class="company-group">
                            <dt class="company-group__head _fwb _dis-center-between">お名前<span
                                        class="required-label">必須</span></dt>
                            <dd class="company-group__body"><label>
                                    <input class="form" type="text" placeholder="例）水道 太郎">
                                </label></dd>
                        </div>
                        <div class="company-group">
                            <dt class="company-group__head _fwb _dis-center-between">ふりがな<span
                                        class="required-label">必須</span></dt>
                            <dd class="company-group__body"><label>
                                    <input class="form" type="text" placeholder="例）すいどう たろう">
                                </label></dd>
                        </div>
                        <div class="company-group">
                            <dt class="company-group__head _fwb _dis-center-between">メールアドレス<span
                                        class="required-label">必須</span></dt>
                            <dd class="company-group__body"><label>
                                    <input class="form" type="text" placeholder="例）info@example.com">
                                </label></dd>
                        </div>
                        <div class="company-group">
                            <dt class="company-group__head _fwb _dis-center-between
                            ">お電話番号<span class="required-label">必須</span></dt>
                            <dd class="company-group__body"><label>
                                    <input class="form" type="text" placeholder="例）111-222-3333">
                                </label></dd>
                        </div>
                        <div class="company-group">
                            <dt class="company-group__head _fwb"><label for="content">お問い合わせ内容</label></dt>
                            <dd class="company-group__body"><textarea class="textarea" name="content" id="content"
                                        rows="10"></textarea>
                            </dd>
                        </div>
                    </dl>
                    <div class="_t-center _mt-40">
                        <button type="submit" class="more-button -bg-blue-gradient">内容確認画面へ<span
                                    class="chevron -more"></span></button>
                    </div>
                </form>
            </div>
        </div>
    </section>
<%- include('../block/_footer', {seo: data.second.seo}); %>